<div class="container">
  <div class="main-title custom-title">Let's Keep in Touch!</div>
  <div class="description custom-descrb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat. </div>
  <button class="secondary-btn">Let's Talk </button>
  <div class="seperate"></div>

  <div class="footer-description">
    <div class="__text"> © Copyright Robert Fox 2022. All Rights Reserved </div>
    <div class="docs">
      <div class="__text">Privacy Policy</div>
      <div class="__text">Terms</div>
    </div>
    <div class="social-media">
      <img src="assets/linkedin-white.svg">
      <img src="assets/twitter-white.svg">
      <img src="assets/github-white.svg">
    </div>
  </div>


</div>
