<div class="section-1">
  <div class="left-side" fxFlex="70%">
    <div class="main-title">About Me</div>
    <div class="sub-title" style="margin-top: 1vw">I am a freelance designer!</div>
    <div class="description m-r">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure
      </span>
      <span style="margin-top: 2vh">
        Duis a elit quis urna aliquet porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Nunc congue lectus a volutpat mattis. Sed posuere consectetur est, ac faucibus odio tempor id.
        Nam
        pretium lorem ac tincidunt cursus. Quisque a libero sed ipsum egestas auctor a a lectus. Donec posuere diam
        elit,
        mollis consectetur ipsum fermentum vel. Cras consequat neque ut arcu auctor, sit amet finibus diam condimentum.

      </span>
    </div>
  </div>
  <div class="right-side" fxFlex="1 1 auto">
    <img src="assets/profile-photo.jpg">
  </div>
</div>

<div class="section-2">
  <div class="card">
    <div class="__description"> Urna aliquet porta. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Nunc congue lectus a volutpat mattis. Sed </div>
    <div>
      <img src="assets/profile-photo.jpg">
    </div>
    <div class="name-surname">Mehmet Yunus YEŞİL</div>
    <div class="job-title">DS Bio & Nano Business Analyst</div>
  </div>

  <div class="card">
    <div class="__description"> Urna aliquet porta. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Nunc congue lectus a volutpat mattis. Sed </div>
    <div>
      <img src="assets/profile-photo.jpg">
    </div>
    <div class="name-surname">Mehmet Yunus YEŞİL</div>
    <div class="job-title">DS Bio & Nano Business Analyst</div>
  </div>

</div>
