<div class="section-1" fxLayout="column" fxLayoutAlign="center start">
  <div class="sub-title">Hero Sub-title Description</div>
  <div class="main-title">Hero Title Example</div>
  <div class="description">Lipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
  </div>

  <button class="main-btn">See my works! <mat-icon>south</mat-icon> </button>

  <!-- <div class="circle"></div>
  <div class="ucgen"></div> -->

</div>

<div class="section-2" fxLayoutAlign="center center">
  <div class="left-side">
    <div class="__image"></div>
  </div>
  <div fxLayout="column">
    <div class="title">Last Project Example</div>
    <div class="sub-title">Hero Sub-title Description</div>
    <div class="description" style="width: 60% !important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt
      ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure </div>
    <button class="secondary-btn">Read More </button>

  </div>
</div>

<div class="section-3">
  <div class="title" style="margin: 0 !important;">Clients Example</div>
  <div class="sub-title-description">Hero Sub-title Description</div>
  <div class="projects">
    <div class="__image"></div>
    <div class="__image"></div>
    <div class="__image"></div>
    <div class="__image"></div>
    <div class="__image"></div>
    <div class="__image"></div>
  </div>
</div>


<div class="section-4">
  <div class="title" style="margin: 0 !important;">Showcase</div>
  <div class="sub-title-description">Some of my works</div>
  <div class="image-section">
    <div class="left-image"> </div>
    <div class="right-image">
    </div>
  </div>
</div>
